#controls
	#log
		.entry "Help me!"
	#actions
		#target
			select
				option= subject.sprite
					.sans= subject.name
			.button.off >
			select
				each actor in targets
					option= actor.sprite
							.sans= actor.name
		each action in actions
			.button= action